
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("../images/footer.jpg");;
  background-size: cover;
  color: white;

  .flex-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5rem 4rem 2rem 4rem;
    width: 80%;
    margin: auto 4rem auto 2rem;

    h3 {
      color: white;
    }
    .first-column {
      flex-basis: 40%;
      display: flex;
      flex-direction: column;


      .name-contacts {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 0 0.5rem 0;

        .site-title {
          padding: 0;
        }

        .site-title a{
          text-decoration: none;
          color: white;
          font-size: 26px;
          text-space: 2px;
          font-family: 'Courgette', cursive;

          span {
            color: $primary-color;
            text-shadow: $text-shadow;
          }
        }

        i {
          padding: 0 0.5rem;
        }
      }
    }

    .second-column li {
      list-style-type: none;
      padding: 0.5rem 0;

      & a {
        text-decoration: none;
        color: white;

        &:hover {
          color: $primary-color;
          @include easeOut();
        }
      }


    }


  }

  .final {
    margin: auto;
    padding: 2rem;
    text-align: center;
    width: 80%;
    border-top: 2px solid;
  }
}

@media screen and (max-width: 780px) {
  .info {
    padding: 0;
    display: block;
    width: 80%;
    margin: auto;
  }

  .info-bar {
    padding: 0.2rem 0;
    .contacts {
      align-items: center;
      width: 100%;
    }

    .icons {
      display: none;
    }
  }

  .section-title {
    .flex-coffee-under {
      width: 30%;
    }
  }

  footer .flex-footer {
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 4rem;

    div {
      margin-bottom: 2rem;
    }

    .site-title {
      width: 100%;
      display: block;
    }

    .icons {
      display: block;
      width: 100%;
      margin: auto;
    }

    .third-column p {
      width: 100%;
    }

  }

}

@media screen and (max-width: 520px) {



  .section-title {
    .flex-coffee-under {
      width: 40%;
    }
  }
}

@media screen and (max-width: 450px) {
  footer .none-display {
    display: none;
  }
}