form {
  width: 70%;
  text-align: center;
  margin: 1rem auto;
  padding: 2rem;

  fieldset {
    border: none;
  }
  input, textarea {
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 0 1px 1px rgba(black, 0.1);

    &:focus {
      border: $primary-color 1px solid;
      box-shadow: 0 0 4px rgba($primary-color, 1);
    }
  }

}

.contact-form {
  input, textarea {
    padding: 1.2rem;
    display: block;
    width: 100%;
    margin-top: 1em;
  }

  legend {
    font-size: 2rem;
  }


  textarea {
    height: 13.65rem;
  }

  input.main-button {
    font-size: 1.6rem;
    padding: 0.8rem;
  }

  .half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
  }

  .right { width: 50%; }

  .left {
    margin-right: 2%;
  }

  @include  mq(tablet, max) {
    input,textarea {
      margin: 0.5rem auto;
    }
    .half {
      width: 100%;
      float: none;
      margin-bottom: 0;
    }

    input.main-button {
      font-size: 1.2rem;
      padding: 0.6rem;
    }
  }

  @include mq(phone-wide, max) {
    width: 100%;
    padding: 0;


  }
}

