form {
  max-width: 70%;
  text-align: center;
  margin: 1rem auto;
  padding: 2rem;

  input, textarea, button {
    border:0; outline:0;
    padding: 1.2em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;

    &:focus {
      border: $primary-color 1px solid;
      box-shadow: 0 0 4px rgba($primary-color, 1);
    }
  }

  textarea {
    height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
  margin-right: 2%;
}

@media (max-width: 800px) {
  form.contact-form {
    padding: 0;
  }
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
