body > main > section {
  margin: 6rem 0;

  & > section {
    padding: 4rem 0;
  }

  &.pagination {
    margin: 1rem auto;
  }
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem 0;

  article.card {
    width: 20rem;
    text-align: center;
    margin-bottom: 5rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;

  }
  .blog-img {
    width: 100%;
    height: auto;
  }

  .image-service {
    width: 40%;
    height: auto;
  }
  div.desc {
    padding: 3rem;
    text-align: center;
  }
}

.product {
  text-align: center;
  position: relative;
  cursor: pointer;
  margin: 3rem;
  perspective: 500px;

  img {
    width: 17rem;
    height: 17rem;
    border: 2px solid $primary-color;
    border-radius: 5px;
  }

  .details {
    width: 70%;
    height: 80%;
    padding: 0.5rem 0.8rem;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgba(255,255,255,0.9);
    opacity: 0;
    transition: all 0.4s ease-in;

  }

  &:hover .details {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
  }
}



