body {
  background: rgba(218, 178, 130, 0.39);
}

body > header {

  .navigation-bar {
    background-color: rgba(white, 0.4);
    border-bottom: $main-border;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
  }
  .sticky {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    background-color: rgba(white, 0.8);
  }
}

.section-title {
  margin: 10rem 0 3rem 0;
  text-align: center;

  h2 {
    color: $primary-color;
    font-size: 3rem;
    text-space: 2px;
    padding: 0 0 1rem 0;
  }

  .flex-coffee-under {
    width: 15%;
    margin: auto;
    display: flex;

    .hr-line {
      width: 100%;
      position: relative;
      margin: 0.8rem;
      border-bottom: 2px solid #000;
    }
    .icon {
      position: relative;
      top: 3px;
      color: $primary-color;
    }
  }
}

.page {
  .flex-coffee-under {
    width: 80%;
  }
}

.coffee-main {
  .info-coffee {
    text-align: center;
    margin: auto;
    width: 70%;

    p {
      font-size: 1.2rem;
      color: #4d4d4d;
      text-shadow: 2px 2px white;
    }
  }

}

.top-products .products{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-us div {
  padding: 2rem;
  text-align: center;

  img {
    margin: auto;
    width: 60%;
    height: 50%;
    border-radius: 10px;
  }

}

.product-center {
  text-align: center;
  width: 50%;
}

.address {
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: 1rem;
}

.newsletter {
  background: $secondary-color;
  text-align: center;
  padding: 1rem;
  border-top: $main-border;
  border-bottom: $main-border;
  box-shadow: $box-shadow;
}



