body {
  background: rgba(218, 178, 130, 0.39);
}

.site {
  $cn: &;

  @at-root #{$cn}-content {
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem;
  }

}

.section-title {
  text-align: center;

  h2 {
    color: $primary-color;
  }
}

.flex-coffee-under {
  width: 15%;
  margin: auto;
  display: flex;

  .hr-line {
    width: 100%;
    position: relative;
    margin: 0.8rem;
    border-bottom: 2px solid #000;
  }
  .icon {
    position: relative;
    top: 3px;
    color: $primary-color;
  }
}

.page {
  .flex-coffee-under {
    width: 80%;
  }
}

.coffee-main {
  text-align: center;

  p {
    color: #4d4d4d;
    text-shadow: 2px 2px white;
  }

}

.about-us {
  display: grid;
  grid-template-columns: 1fr 10em 10em 1fr;
  grid-template-rows: 5em 10em 5em;
  grid-gap: .5em;

  margin: 1em auto;
  border: 1px dashed #777;
  width: 31em;

  img {
    margin: auto;
    width: 60%;
    height: 50%;
    border-radius: 10px;
  }

}

.address {
  text-align: center;
  width: 80%;
  margin: auto;
}

.newsletter {
  background: $secondary-color;
  text-align: center;
  padding: 1.5rem;
  margin: 0;
  border-top: $main-border;
  border-bottom: $main-border;
  box-shadow: $box-shadow;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  padding: 8rem 10rem;
  p:last-child {
    padding-bottom: 0;
  }
  img {
    width: 14rem;
    height: 13rem;
  }
}

.box1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.box4 {
  grid-column: 2/4;
}

.box5 {
  grid-column: 1/4;

  img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 800px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}





