
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height:999em;
}

.read-more-state ~ .read-more-button:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-button:before {
  content: 'Hide';
}

.read-more-button {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  line-height: 2;
  margin-left: 10px;
  margin-bottom: 10px;
}


