body {

}

.info-bar {
  background: black;
  color: white;
  p {
    font-size: 14px;
    padding: 0.5rem 0.5rem;
  }

}

.container-img {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../images/header.png");
  background-size: cover;

  .center {
    width: 100%;
    text-align: center;
    padding: 12rem 0;
    color: white;
    text-shadow:$text-shadow;
  }

  .center-sm {
    width: 100%;
    text-align: center;
    padding:0 0 0 0;
    color: white;
    text-shadow: $text-shadow;
    h1{
      padding-top: 7rem;
      padding-bottom: 2rem;
    }
  }
}

.container-img nav {
  display : flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
  position: fixed;
  width: 100%;
  //background-color: rgba(cornflowerblue, 0.5);
  background-color: rgba(white, 0.7);

  .site-title {
    padding: 0;
  }

  .site-title a {
    text-decoration: none;
    color: black;
    font-size: 26px;
    text-space: 2px;
    font-family: 'Courgette', cursive;

    span {
      color: $primary-color;
      text-shadow: $text-shadow;
    }
  }



  ul{
    display: flex;
    padding: 0;

    li {
      list-style-type: none;
      padding:0 1rem;

    }

    li a {
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      font-size: 18px;
      font-family: 'Courgette', cursive;

    }

    & a:hover {
      color: $primary-color;
      @include easeOut();
    }
  }

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(white, 0.3);
}




