body {

}

.container-img {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/header.png");
  background-size: cover;

  .center {
    width: 100%;
    text-align: center;
    margin: 2rem;
    padding: 6rem 0;
    color: white;
  }
}

.container-img nav {
  display : flex;
  justify-content: space-around;

  ul{
    display: flex;

    li {
      list-style-type: none;
      padding: 0.5rem;

    }

    li a {
      text-decoration: none;
      color: white;
    }
  }

}



