<div class="footer flex">
    <section class="about-footer">
        <div class="footer-title">
            <h5>
                <a href="{{site.baseurl}}"><span>Coffee</span> Shop</a>
            </h5>
            <div class="icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
        </div>
        <p>
            At the Coffee Shop we offer only the highest class of Arabica and Robusta coffee beans,
            carefully selected according to the seasonal specifics of the harvest and the regions of origin.
        </p>
    </section>
    <section class="sitemap-footer">

        <h5>QUICK LINKS</h5>

        <ul>
            <li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/blog/index.html">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
        </ul>
    </section>

    <section class="contacts-footer">

        <h5>CONTACT INFO</h5>

        <ul>
            <li><i class="fas fa-phone-volume"></i> +359 88 44 44 44</li>
            <li><i class="fas fa-envelope"></i> contacts@coffeeshop.com</li>
            <li><i class="fas fa-clock"></i> Monday - Friday: 09:00 - 18:00</li>
            <li><i class="fas fa-map-marked"></i> Sofia,<br>Opalchenska 244 fl. 1</li>
        </ul>
    </section>
</div>
<div class="final">
    <p>© 2018 Coffee Shop . All rights reserved | Design by Doncho Mitev.</p>
</div>

