<div class="footer flex">
    <section class="about-footer">
        <header class="footer-title">
            <h5>
                <a href="{{site.baseurl}}"><span>Coffee</span> Shop</a>
            </h5>
            <div class="icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
            </div>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur aut
            consectetur debitis
            delectus, ducimus est excepturi hic inventore iste molestias nemo officia perferendis porro quasi quidem
            quisquam sequi ullam?</p>
    </section>
    <section class="sitemap-footer">
        <header>
            <h5>QUICK LINKS</h5>
        </header>
        <ul>
            <li><a href="{{site.baseurl}}">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/info/">Info</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contacts</a></li>
        </ul>
    </section>

    <section class="contacts-footer">
        <header>
            <h5>CONTACT INFO</h5>
        </header>
        <ul>
            <li><i class="fas fa-phone-volume"></i> +359 889 44 44 44</li>
            <li><i class="fas fa-envelope"></i> contacts@coffeeshop.com</li>
            <li><i class="fas fa-clock"></i> Monday - Friday: 09:00 - 18:00</li>
            <li><i class="fas fa-map-marked"></i> Sofia,<br>Opalchenska 244 fl. 1</li>
        </ul>
    </section>
</div>
<div class="final">
    <p>© 2018 Coffee Shop . All rights reserved | Design by Doncho Mitev.</p>
</div>

