<footer>
    <div class="flex-footer">
        <div class="first-column">
            <div class="name-contacts">
                <div class="site-title">
                    <a href="{{site.baseurl}}"><span>Coffee</span> Shop</a>
                </div>
                <div class="icons">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur aut consectetur debitis
                delectus, ducimus est excepturi hic inventore iste molestias nemo officia perferendis porro quasi quidem
                quisquam sequi ullam?</p>
        </div>
        <div class="second-column">
            <h3>QUICK LINKS</h3>
            <ul>
                <li><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/gallery/">Gallery</a></li>
                <li><a href="{{ site.baseurl }}/about/">Our Trip</a></li>
            </ul>
        </div>

        <div class="third-column">
            <h3>CONTACT INFO</h3>
            <p>Sofia, Opalchenska 244</p>
            <p>Phone: +359 889 44 44 44</p>
            <p>contacts@coffeeshop.com</p>
        </div>
    </div>

    <div class="final">
        <p>© 2018 Coffee Shop . All rights reserved | Design by Doncho Mitev.</p>
    </div>

</footer>
