<header>
    <div class="container-img">
        <nav>
            <p class="site-logo"><img src="../images/logo_white.png" height="40" width="86"/></p>

            <ul>
                <li><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/about/">Gallery</a></li>
                <li><a href="{{ site.baseurl }}/about/">Our Trip</a></li>
            </ul>
        </nav>

        <div class="center">
            <h1>
                It's time to start your advantures
            </h1>
            <p>
                Enjoy the beauty of nature!
            </p>
            <button>
                more info
            </button>
        </div>
    </div>
</header>