<header>
    <div class="info-bar">
        <div class="icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
        </div>
        <div class="contacts">
            <p><i class="fas fa-phone"></i>  +359 899 29 45 66</p>
            <p><i class="fas fa-envelope"></i> contact@coffeeshop.com</p>
        </div>
    </div>
    <div class="container-img">
        <nav class="header" id="myHeader">
            <p class="site-title">
                <a href="{{site.baseurl}}"><span>Coffee</span> Shop</a>
            </p>

            <ul>
                <li><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
                <li><a href="{{ site.baseurl }}/products/">Our Products</a></li>
                <li><a href="{{ site.baseurl }}/events/">Events</a></li>
                <li><a href="{{ site.baseurl }}/info/">Info</a></li>
                <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
            </ul>
        </nav>

        <div class="center">
            <h1>
                It's time to start your adventures
            </h1>
            <p>
                Enjoy the beauty of the world!
            </p>
            <button>
                best offers
            </button>
        </div>
    </div>
</header>