<header>
    <div class="container-img">
        <nav>
            <p class="site-title">
                <a href="{{site.baseurl}}"><span>Travel</span> Agency</a>
            </p>

            <ul>
                <li><a href="{{site.baseurl}}">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About Us</a></li>
                <li><a href="{{ site.baseurl }}/products/">Our Products</a></li>
                <li><a href="{{ site.baseurl }}/events/">Events</a></li>
                <li><a href="{{ site.baseurl }}/info/">Info</a></li>
                <li><a href="{{ site.baseurl }}/contacts/">Contacts</a></li>
            </ul>
        </nav>

        <div class="center-sm">
            <h1>
                It's time to start your adventures
            </h1>
        </div>
    </div>
</header>