<header>
    <div class="container-img">
        <nav>
            <p class="site-title">
                <a href="{{site.baseurl}}"><span>Travel</span>Agency</a>
            </p>

            <ul>
                <li><a href="{{ site.baseurl }}">Home</a></li>
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="{{ site.baseurl }}/about/">Gallery</a></li>
                <li><a href="{{ site.baseurl }}/about/">Our Trip</a></li>
            </ul>
        </nav>

        <div class="center-sm">
            <h1>
                It's time to start your adventures
            </h1>
        </div>
    </div>
</header>