<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% if page.title %}
    {% include small_header.html %}
{% else %}
    {% include header.html %}
{% endif %}

<main>
    {{content}}
</main>

{% include footer.html %}
<script>
    window.onscroll = function () {
        myFunction()
    };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>
</body>
</html>